<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a class="btn button color green" id="new-collection" ng-href="#">New recording collection</a></li>
  </ul>
  <h3>HTTP Studio</h3>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-10">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Recordings</a></li>
      <li><a href="#">Replays</a></li>
      <li><a href="#">Config</a></li>
      <li><a href="#">Collections</a></li>
    </ul>
  </div>
  <div class="command-panel col-xs-6 col-sm-2 sidebar-offcanvas">
    record:
    <div class="btn-group">
      <button class="btn btn-default">ON</button>
      <button class="btn btn-default">OFF</button>
    </div>
    <br><br>
    replay:
    <div class="btn-group">
      <button class="btn btn-default">ON</button>
      <button class="btn btn-default">OFF</button>
    </div>
    <br><br>
    recordings: 20
    <br><br>
    domains: 3
    <br>
  </div>
</div>

<div class="footer">
  <p>Fork <a href="https://github.com/alexurdea/http-record" target="_blank">HTTP Studio</a> on github.</p>
</div>
